body{
    margin: 0;
}

.main-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
}

#google-logo{
    width: 92px;
    height: 30px;
    display: flex;
}

#search-bar{
    width: 600px;
    height: 30px;
    border-radius:40px;
    font-size: 15px;
    padding: 0.5em;
    border: #f2f2f2 solid 1px;
    padding-left: 15px;
}

.nav-bar{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.nav-bar * {
    margin: 10px;
    margin-top: 5px;
}

.right-nav img{
    position: relative;
    left: 430px;
    width: 20px;
    height: 20px;
}

.second-navbar{
    border-bottom: #f2f2f2 solid 1px;
    margin: 0;
    padding: 0;
}

.inner-second-div{
    margin-bottom: 10px;
    margin-left: 165px;
}
.second-navbar a{
    padding: 0 5px;
    text-decoration: none;
    color: #737373;
}

.second-navbar a:hover {
    color: lightblue;
}

.right-second{
    margin-left: 200px;
}

.search-results{
    margin-left: 170px;
    font-size: 15px;
}

.box-results {
    margin-left: 170px;
    border: 1px solid black;
    width: 600px;
    padding: 5px 15px;
    background-image: url(../images/box-results-image.jpeg);
    background-repeat: no-repeat;
    background-position: top right;
}

.box-results ol {
    margin-right: 10px;
    padding: 0 20px;
}

.box-results li{
    font-size: 20px;
}

.box-results p{
    font-size: 12px;
    color: #737373;
    margin-left: 10px;
}

.website-chooser a {
    text-decoration: none;
    color: rgb(40, 40, 202);
}

.website-chooser h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.website-chooser h4{
    margin:0;
    margin-top: 5px;
    color: green;
}

.snippets {
    margin-left: 520px;
}

.snippets ul {
    list-style-type: none;
}

.snippets a {
    padding: 0 10px;
    font-size: 15px;
    text-decoration: none;
    color: #737373;
}

.webpage {
    width:650px;
    margin-left: 180px;
    margin-top: 10px;
}

.webpage * {
    margin: 0;
    padding: 2px 0;
}

.webpage a {
    text-decoration: none;
}

.webpage h3 a
{
    color: blue;
}

.webpage h4 a {
    color: green;
}

.webpage h3 a:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.webpage p {
    color: #737373;
}

.date {
    font-size: 14px;
}

.people-also-ask{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 170px;
    border: 1px solid black;
    width: 650px;
}

.people-also-ask ul
{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.people-also-ask li {
    
    padding: 15px 20px;
    border-top: 1px black solid;
    font-size: 18px;
    cursor: pointer;
    background-image: url(../images/angle-down-solid.svg);
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-size: 10px;

}

.people-also-ask h3 {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0;

}

.related-search {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 170px;
    border: 1px solid black;
    width: 650px;
    padding: 10px;
    padding-bottom: 15px;
}

.related-search h3 {
    margin: 2px;
}

.related-search ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.lists{
    margin-left: 20px;
}

.lists img {
    width: 96px;
    height: 72px;
}

.lists a {
    text-decoration: none;
    color: blue;
}

.related-searches {
    color: #737373;
    font-size: 15px;
}

.searches-relates {
    margin-left: 170px;
    
}

.searches-relates ul {
    list-style-type: none;
    padding: 0;
}

.searches-relates li {
    margin: 10px 0px;
}

.searches-relates a {
    text-decoration: none;
    color: blue;
}