body{
    margin: 0;
}

.main-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
}

#google-logo{
    width: 92px;
    height: 30px;
    display: flex;
}

#search-bar{
    width: 600px;
    height: 30px;
    border-radius:40px;
    font-size: 15px;
    padding: 0.5em;
    border: #f2f2f2 solid 1px;
    padding-left: 15px;
}

.nav-bar{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.nav-bar * {
    margin: 10px;
    margin-top: 5px;
}

.right-nav img{
    position: relative;
    left: 430px;
    width: 20px;
    height: 20px;
}

.second-navbar{
    border-bottom: #f2f2f2 solid 1px;
    margin: 0;
    padding: 0;
}

.inner-second-div{
    margin-bottom: 10px;
    margin-left: 165px;
}
.second-navbar a{
    padding: 0 5px;
    text-decoration: none;
    color: #737373;
}

.second-navbar a:hover {
    color: lightblue;
}

.right-second{
    margin-left: 200px;
}

.search-results{
    margin-left: 170px;
    font-size: 15px;
}
